
# Ignore the Figures directory but LipVor_exec_example.png
Figures/*
!Figures/LipVor_exec_example.png

# Ignore the data directory
Data/

# Ignore logs directory
logs/

# Ignore python cache files
__pycache__/

# Ignore models from Notebooks/Models/ that start wiht "checkpoint"
Notebooks/Models/checkpoint*